.container{
  background-image: url("https://external-preview.redd.it/89-9lNxpNn-7PIeQeT5WvTLQFNjLN6JqiaBzO8hoAWo.jpg?auto=webp&s=71df26028e46f5b1fc27c8ae17e004afdfc01396");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  
}
